@import "../styles/index.scss";

.App {
  @include borders(white, #999);
  background: #c2c2c2;
  padding: 16px;
  width: 320px;
}

.mineFieldContainer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  @include borders(#7b7b7b, white);
  // margin-top: 20px;
  align-items: center;
  background: #c0c0c0;
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  width: 280px;
}

.Body {
  @include borders(#7b7b7b, white);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  margin-top: 16px;
  width: 280px;
}

.Face {
  @include borders;
  @include buttons;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 35px;
  height: 52px;
  justify-content: center;
  width: 52px;
}

.NumberDisplay {
  width: 80px;
  height: 48px;
  color: #ff0701;
  background: black;
  text-align: center;
  font-size: 40px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.Button {
  @include borders;
  @include buttons;
  border-width: 4px;
  align-items: center;
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  width: 30px;

  &.visible {
    border-color: #7b7b7b;
    border-width: 1px;
  }

  &.red {
    background: red;
  }

  span {
    font-size: 12px;
    margin-left: 2px;
  }

  &.value-1 {
    color: blue;
  }
  &.value-2 {
    color: green;
  }
  &.value-3 {
    color: red;
  }
  &.value-4 {
    color: purple;
  }
  &.value-5 {
    color: maroon;
  }
  &.value-6 {
    color: turquoise;
  }
  &.value-7 {
    color: black;
  }
  &.value-8 {
    color: gray;
  }
}

.playerInfo {
  font-weight: 500;
  color: #3f51b5
}

.playerWinInfo {
  font-weight: 700;
  font-size: 1.2rem;
  color: black
}


.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bombInfo {
  line-height: 35px;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.FieldCell {
  @include borders;
  @include buttons;
  border-width: 4px;
  align-items: center;
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  width: 30px;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.2);
    background: white;
    border-color: #ececec;
  }

  &.dug {
    border-color: whitesmoke;
    border-width: 1px;
    background: #d0d0d0;
    border-color: #d0d0d0;
    @include borders(#e1e1e1, #ececec);
  }

  &.dug:hover {
    transform: none;
    
  }

  &.red {
    background: red;
  }

  span {
    font-size: 12px;
    margin-left: 2px;
  }

  &.value-1 {
    color: blue;
  }
  &.value-2 {
    color: green;
  }
  &.value-3 {
    color: red;
  }
  &.value-4 {
    color: purple;
  }
  &.value-5 {
    color: maroon;
  }
  &.value-6 {
    color: turquoise;
  }
  &.value-7 {
    color: black;
  }
  &.value-8 {
    color: gray;
  }
}